/* Apply Courier New font to all elements */
* {
    font-family: 'Courier New', sans-serif;
}

body {
    background-color: #5de8d5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 300px #007bff;
}

.banner {
    background-color: #5de8d5;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 150px; /* Adjust the max-width as needed */
    height: auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    display: none;
    margin-top: 20px;
}

.park-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;    
}
